<ul class="pagination">
  <li class="page-item" [ngClass]="paginator.first ? 'disabled' : ''">
    <a class="page-link" [routerLink]="['/clients/page', 0]">First</a>
  </li>

  <li class="page-item" [ngClass]="paginator.first ? 'disabled' : ''">
    <a class="page-link" [routerLink]="['/clients/page', paginator.number-1]">&laquo;</a>
  </li>

  @for (pageNr of paginatorPages; track pageNr) {
    <li class="page-item">
      @if (pageNr-1 === paginator.number) {
        <span class="page-link active">{{pageNr}}</span>
      }
      @if (pageNr-1 !== paginator.number) {
        <a class="page-link" [routerLink]="['/clients/page', pageNr-1]">{{pageNr}}</a>
      }
    </li>
  }

  <li class="page-item" [ngClass]="paginator.last ? 'disabled' : ''">
    <a class="page-link" [routerLink]="['/clients/page', paginator.number+1]">&raquo;</a>
  </li>

  <li class="page-item" [ngClass]="paginator.last ? 'disabled' : ''">
    <a class="page-link" [routerLink]="['/clients/page', paginator.totalPages-1]">Last</a>
  </li>
</ul>
