<app-loading-client-table *ngIf="loading"></app-loading-client-table>
<div class="card border-primary mb-3" *ngIf="!loading">
  <div class="card-header">Clients</div>
  <div class="card-body text-primary">
    <h5 class="card-title">List of Clients</h5>

    <div class="my-2 text-end">
      <button class="btn rounded-1 btn-outline-primary" [routerLink]="['/clients/form']" >New Client</button>
    </div>

    <table class="table table-bordered table-striped table-hover">
      <thead class="text-center">
      <tr>
        <th>id</th>
        <th>Name</th>
        <th>Surname</th>
        <th>email</th>
        <th>Created at</th>
        <th>Updated at</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let client of clientList">
        <td>{{client.id}}</td>
        <td>{{client.name}}</td>
        <td>{{client.surname}}</td>
        <td>{{client.email}}</td>
        <td>{{client.createdAt}}</td>
        <td>{{client.updatedAt}}</td>
        <td><button class="btn btn-outline-warning" [routerLink]="['/clients/form', client.id]">Edit</button></td>
      </tr>
      </tbody>
    </table>


  </div>
</div>
