<div class="card" data-bs-theme="dark">
  <div class="card-header">{{title}}</div>
  <div class="card-body">

    <form (ngSubmit)="saveClient($event)">
      <input type="hidden" *ngIf="client.exist" [(ngModel)]="client.id" name="id" id="id">

      <div class="row my-2">
        <label for="name" class="col-form-label col-sm-2">Name</label>
        <div class="col-sm-6">
          <input type="text" name="name" id="name" class="form-control" [(ngModel)]="client.name">
        </div>
      </div>

      <div class="row my-2">
        <label for="surname" class="col-form-label col-sm-2">Surname</label>
        <div class="col-sm-6">
          <input type="text" name="surname" id="surname" class="form-control" [(ngModel)]="client.surname" required>
        </div>
      </div>

      <div class="row my-2">
        <label for="email" class="col-form-label col-sm-2">Email</label>
        <div class="col-sm-6">
          <input type="email" name="email" id="email" class="form-control" [(ngModel)]="client.email" required>
        </div>
      </div>

<!--      <div class="row my-2">-->
<!--        <label for="image" class="col-form-label col-sm-2">Image</label>-->
<!--        <div class="col-sm-6">-->
<!--          <input type="file" name="image" id="image" class="form-control" [(ngModel)]="client.image">-->
<!--        </div>-->
<!--      </div>-->

      <div class="row my-2">
        <div class="col-sm-6">
          <button type="submit" class="btn btn-primary mx-1" name="save" role="button">Save</button>
          <button type="button" class="btn btn-secondary mx-1" name="cancel" role="button" [routerLink]="['/clients']">Cancel</button>
        </div>
      </div>

    </form>
  </div>
</div>
